@import "./pre.scss";
@import "./theme.scss";
@import "./atom.scss";
@import "./md.scss";
@import "./syntax.scss";
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

:root {
  --max-w: 640px;
  --font-sans: 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-serif: Cardo, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  margin: 0 16px;
  font-family: var(--font-sans);
  font-weight: 400;
  background-color: var(--back);
  color: var(--text);
  transition-property: background-color, border-color, color;
  transition-duration: 0.5s;
}

nav .ml-1 {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

h1, h2, h3, .text-lg {
  font-family: var(--font-serif);
}

.text-lg, .colorized {
  color: var(--colorizer);
}

.color-subtle {
  color: var(--subtle);
  border-color: var(--subtle);
}

main {
  animation: showup 0.7s;
}

main p a {
  color: var(--prime);
}

main p a:hover {
  text-decoration: underline;
}

.footercat {
  margin-top: 100px;
  height: 100px;
}

@keyframes showup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

